<div class="all">
<mat-icon (click)="addField()">add</mat-icon>
<form [formGroup]="phoneForm">
    <div *ngFor="let control of phoneForm.controls | keyvalue; let index=index">
        <mat-form-field class="telForm">
            <mat-label>{{index+1}}</mat-label>
            <!-- <span matTextPrefix class="span">+1 &nbsp;</span> -->
            <input type="tel" matInput placeholder="555-555-1234" [formControlName]="control.key">
            <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
        <mat-icon (click)="deletField(control)" style="color: black;">clear</mat-icon>
    </div>
</form>
</div>