.form-container {
    display: flex;
    flex-direction: row;
}

.tel-numbers-container {
    display: flex;
    flex-wrap: wrap;
}

mat-icon {
    font-size: medium;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:5px;
    margin-right: -10px;
    width: 30px;
}