
.detail-row {
  height: 0;
  .mat-mdc-cell{
    border: none ;
  }
}
.details{
  height: 430px ;
  overflow: scroll;
}




.fill-table{
  th {
    font-size: small;
    vertical-align: bottom;
    color: rgb(88, 87, 87);
    border-bottom: none;
    background-color:  #f0f2f5 !important;
  }
  .element-row td {
    border-bottom: none;
    border-top: 6px solid  #f0f2f5;
  }
}

.line-table{
  th {
    font-size: small;
    vertical-align: bottom;
    color: rgb(88, 87, 87);
    border-bottom: none;
    background-color:  transparent !important;
  }
  .element-row td {
    border-bottom: none;
    border-top: 5px solid  #faf9fd;
    background-color: #e5e7ea;
  }
}



