:host{
    direction: rtl;
}


header {
    position: fixed; /* או absolute, תלוי בצורך שלך */
    right: 0; /* ממקם את ה-header בצד ימין */
    top: 0; /* ממקם את ה-header בחלק העליון */
    height: 100%; /* אם אתה רוצה שה-header יתפרס לגובה */
    width: 200px; /* או כל רוחב שתרצה */
    background-color: #f0f0f0; /* צבע רקע לדוגמה */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);

    img{
        width: 200px;
        /* margin-right: 25px; */
        margin-top: 10px;
    }
}
.content{
     margin-right: 200px; /*מרווח שווה לרוחב התפריט */
     padding: 20px; /*ריפוד לתוכן */
}


