<div class="menu">
  <a mat-fab extended  matTooltip="החלף משתמש" (click)="logOut()" class="login-button">
    <mat-icon >person_outline</mat-icon>
{{username}} </a>
  <button mat-button [matMenuTriggerFor]="aboveMenu" style="text-align: center;"  [routerLink]="['/bachurim/yeshivaGdola']">בחורים</button>
  <mat-menu #aboveMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/bachurim/yeshivaKtana']">ישיבה קטנה</button>
    <button mat-menu-item [routerLink]="['/bachurim/yeshivaGdola']">ישיבה גדולה</button>
  </mat-menu>
  <button mat-button>אודות</button>
  <button mat-button>מידע</button>
  <button mat-button>ישיבות</button>
  <!-- <button matSuffix>
    <mat-icon>person_outline</mat-icon> כניסה
  </button> -->



</div>

<!-- <a [routerLink]="['/bachurim/yeshivaKtana']">בחורים</a> -->

