
::ng-deep {
 
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color:transparent !important ;
       }
       mat-icon{
        cursor: pointer;
       }
}
mat-form-field{
    width: 120px ;
}
.daf{
    width: 80px;
}