.all {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: flex-end;
    // margin-left: 3vh;
    width: 90%;
    margin: auto;
// border: solid black;
    justify-content: space-between;
    margin-top: 30px;
}

.title{
    display: flex;
    button{
        margin-right: 15px;
    }
}

//קוד למיקום הספינר באמצע ושינוי צבעו לצהוב
mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep mat-spinner circle {
    stroke: rgb(7, 224, 152);
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

}

mat-form-field {
    width: 200px;
    margin-left: 20px;

    mat-icon {
        margin-left: -5px;
    }
}

mat-icon {
    color: rgb(29, 226, 160);
}

// ::ng-deep {
//     .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//         background-color: transparent !important;
//         padding: 0%;
//     }

//     .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
//         margin-right: -20px;
//     }
//     .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
//         padding: 0 !important;
//     }

// }