.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px ,;
    margin-left: 5%;
}

.addBachur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}


.section {
    height: 15vh;
    max-width: 95%;
    margin: auto;
    margin-top: 40px;
    border-top: 1px solid rgb(23, 194, 137);
    border-bottom: 1px solid  rgb(23, 194, 137);
    background-color: rgb(239, 240, 239);
}

//קוד למיקום הספינר באמצע ושינוי צבעו לצהוב
mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep mat-spinner circle {
    stroke: rgb(7, 224, 152);
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

}

mat-form-field {
    width: 200px;
    margin-left: 20px;

    mat-icon {
        margin-left: -5px;
    }
}



// ::ng-deep {
//     .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//         background-color: transparent !important;
//         padding: 0%;
//     }

//     .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
//         margin-right: -20px;
//     }
//     .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
//         padding: 0 !important;
//     }

// }