<div class="all">
  <div class="header" dir="rtl">
    <div class="title">
      <h5><b>בני ישיבות גדולות</b></h5>
      <button mat-icon-button matTooltip="בחור חדש"  (click)="openDialog()"> <mat-icon>person_add</mat-icon></button>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>חיפוש</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
   
  </div>

  <mat-spinner *ngIf="!bachurimTable.isData"></mat-spinner>
  <p *ngIf="!bachurimTable.isData" style="color: black;">אנו טוענים את הטבלה בעבורך. אנא המתן...</p>
  <app-bachurim-table [searchTerm]="searchValue"></app-bachurim-table>
</div>