<div class="header">
  <div>
    <mat-form-field>
      <mat-label>חיפוש</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue">
        <!-- <button matSuffix mat-icon-button> -->
          <mat-icon matSuffix>search</mat-icon>
        <!-- </button> -->
    </mat-form-field>
 </div>
  <div (click)="openDialog()" class="addBachur" >
    <button mat-icon-button class="button" matTooltip="בחור חדש"> <mat-icon >person_add</mat-icon></button>
 </div>
</div>

<div class="section">
</div>
<mat-spinner *ngIf="bachurimTable?.dataSource?.length==0"></mat-spinner>
<p *ngIf="bachurimTable?.dataSource?.length==0" style="color: black;">אנו טוענים את הטבלה בעבורך. אנא המתן...</p>
<app-bachurim-table [searchTerm]="searchValue"></app-bachurim-table>