:host::ng-deep {
    .allForm {
        padding: 10px;
        text-align: right;
        overflow-y: auto;
    }

    mat-select {
        text-align: right;
    }

    .mat-accordion .mat-expansion-panel:first-of-type {
        background-color: none !important;
    }

    button {
        cursor: pointer;
        height: 30px;
        float: left;
        bottom: 10px;
        width: 100px;
        margin: 0 auto;
    }

    .addLimud {
        cursor: pointer;
    }

    mat-form-field {
        margin-left: 10px;
        width: 170px;
    }
}


.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-panel-title {
    font-weight: bolder;
}

mat-icon {
    margin-left: 20px;
}

.save {
    background-color: rgb(23, 194, 137);
    border-radius: 5px;
}