:host::ng-deep {
    direction: rtl;

    .allForm {
        padding: 10px;
        text-align: right;
        max-width: 800px;
        height: 400px;
        overflow-y: auto;
    }
    mat-select {
        text-align: right;
    }

    mat-form-field {
        margin-left: 10px;
        width: 170px;
    }

    // .cdk-overlay-pane {
    //     background-color: transparent !important;
    // }

    button {
        cursor: pointer;
        height: 30px;
        float: left;
        // position: sticky;
        bottom: 10px;
        width: 100px;
        margin: 0 auto;
    }

    .addLimud {
        cursor: pointer;
    }
    // .mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing){
    //     width: 700px;
    // }

}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  mat-panel-title{
font-weight:bolder;
  }
  .mat-icon {
    margin-left: 20px;
    color: rgb(23, 194, 137);
  }
