<div class="allForm" dir="rtl">
    <h5><b> הוספת בחור חדש </b></h5>
    <form [formGroup]="newBachurForm">
        <mat-accordion class="example-headers-align">

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> פרטים אישיים </mat-panel-title>
                    <mat-panel-description>
                        מילוי פרטים אישיים
                        <mat-icon>person</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="outline">
                    <mat-label>שם פרטי</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>שם משפחה</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>

                <nd-autocomplete [options]="cityArray" [required]="true" [title]="'עיר'"
                    (selectionChange)="onSelectionCityChange($event)">
                </nd-autocomplete>

                <mat-form-field appearance="outline">
                    <mat-label>כתובת </mat-label>
                    <input matInput formControlName="adress">
                </mat-form-field>
                <br>

                <nd-autocomplete [options]="yeshivaKeyValueArray" [title]="'ישיבה'" formControlName="yeshiva"
                    (selectionChange)="onSelectionChange($event)">
                </nd-autocomplete>


                <mat-form-field appearance="outline">
                    <mat-label> שיעור</mat-label>
                    <mat-select formControlName="shiurId">
                        <mat-option *ngFor="let i of shiurOption" [value]="i.shiurId">
                            {{ i.shiurName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="isOpen">
                    <mat-label> סוג ישיבה</mat-label>
                    <mat-select formControlName="yeshivaType">
                        <mat-option value="1">ישיבה גדולה </mat-option>
                        <mat-option value="2">ישיבה קטנה </mat-option>
                    </mat-select>
                </mat-form-field>


                <br>
                <nd-phones></nd-phones>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>פרטי לימוד </mat-panel-title>
                    <mat-panel-description>
                        מילוי פרטי לימוד
                        <mat-icon>local_library</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <nd-limud></nd-limud>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <button mat-flat-button class="save" (click)="save()"
            [disabled]="newBachurForm.invalid || !phoneComponent?.isValid">שמירה</button>
    </form>
</div>