
// @use 'sass:map'; 
// @use '@angular/material' as mat; 
// @import '../src/nd-theme.scss';


html,

body {
    background-color: #f0f2f5;
    // // color:$gn-primary;
    color: rgb(23, 194, 137);
    margin: 0px 0px 0px 0px;
}
// :host::ng-deep{
//   direction: rtl;
// }
// ::ng-deep .mat-icon{
//     color: rgb(23, 194, 137) !important;
// }
.mat-icon{
    color:rgb(23, 194, 137);
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgb(163, 157, 157);
    border-radius: 4px;
    margin-left: 4px;
}

// .cdk-overlay-pane{
//     max-width: 90vw !important;
// }
/* ::-webkit-scrollbar-track {
    background: #ccc; 
} */





