// @use 'sass:map'; 
// @use '@angular/material' as mat; 
// @import '../src/nd-theme.scss';


html,

body {
    background-color: #f0f2f5;
    color: rgb(23, 194, 137);
    margin: 0px 0px 0px 0px;
}

.mat-icon {
    color: rgb(23, 194, 137);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(163, 157, 157);
    border-radius: 4px;
    margin-left: 4px;
}

::ng-deep .mat-mdc-dialog-inner-contanior {
    max-width: none;
    width: 1000px;
}



.cdk-overlay-pane{
    max-width: 60vw !important;
}
/* ::-webkit-scrollbar-track {
    background: #ccc; 
} */

// :הצבע הרצוי
// #faaa00