
// @use 'sass:map'; 
// @use '@angular/material' as mat; 
// @import '../src/nd-theme.scss';


html,

body {
    //  direction: rtl;
    // // height: 100%;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #f0f2f5;
    // // color:$gn-primary;
    color: rgb(23, 194, 137);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    // width: 6px;
    // z-index: 1;
}
::-webkit-scrollbar-thumb {
    background: rgb(163, 157, 157);
    border-radius: 4px;
    margin-left: 4px;
}

// .cdk-overlay-pane{
//     max-width: 90vw !important;
// }
/* ::-webkit-scrollbar-track {
    background: #ccc; 
} */



// @media (max-width: 1279px) {
//     .mat-dialog-container {
//         border: 5px solid;
//         border-color:  rgb(23, 194, 137);
//         /* border-color: mat.get-color-from-palette($gn-primary); */
//         box-sizing: border-box;
//         padding: 15px !important;
//         padding-bottom: 15px !important;
//     }
// }

// .mat-card:not(.white) {
//     background: #F2F2F2;
// }

// .mat-card {
//     border-radius: 25px !important;
// }

// .mat-card-title {
//     font-size: 20px;
//     color: rgb(23, 194, 137);
//     /* color: mat.get-color-from-palette($gn-primary); */
//     margin-bottom: 20px !important;
// }

// .tab-content {
//     padding: 15px;
// }

// .mat-stroked-button {
//     /* border-color: mat.get-color-from-palette($gn-primary) !important;  */
//     border: 1px solid !important;
//     border-color: black !important;
//     background-color: aqua;
//       /* color: mat.get-color-from-palette($gn-primary) !important; */
// }
// .mat-raised-button{
//     /* border: 1px solid !important; */
//     color: white;
//     background-color:rgb(23, 194, 137) !important;
// }


// .mat-stroked-button.mat-button-disabled.mat-button-disabled {
//     border-color: inherit !important;
// }

// .mat-button {
//     box-sizing: border-box !important;
//     border-radius: 13.5px !important;
//     // color: mat.get-color-from-palette($gn-primary) !important;
//     text-decoration-line: underline !important;
//     // background-color: mat.get-color-from-palette($gn-palette, 50) !important;
// }

// .mat-button-base:not(.mat-icon-button):not(.mat-fab) {
//     box-sizing: border-box !important;
//     border-radius: 13.5px !important;
//     min-width: 129px !important;
//     height: 26px;
//     line-height: 26px;
// }

// .mat-flat-button {
//     // background-color: mat.get-color-from-palette($gn-primary) !important;
//     // color: mat.get-color-from-palette($gn-palette, 50) !important;
//     height: 22px !important;
//     line-height: 18px !important;
// }


// .mat-checkbox-frame {
//     border-width: 1px !important;
// }

// .mat-checkbox-inner-container {
//     width: 21px !important;
//     height: 22px !important;
// }


// .full-menu.mat-menu-panel {
//     border-style: solid;
//     border-width: 1px;
//     border-radius: 12px !important;
//     // border-color: mat.get-color-from-palette($gn-primary);
//     margin-top: 7px;


//     .mat-menu-item {
//         // color: mat.get-color-from-palette($gn-primary);
//         text-align: center;
//         padding-left: 20px;
//         padding-right: 20px;
//     }
// }

// .mat-menu-item {
//     height: 38px !important;
//     line-height: 38px !important;
// }


// .mat-tooltip {
//     background-color: #383838;
//     color: white;
//     font-size: small;
// }





// .mat-button-base {
//     .mat-icon {
//         svg {
//             width: 15px !important;
//             height: 15px !important;
//             vertical-align: middle;
//         }
//     }
// }

// .cdk-overlay-container {
//     max-height: 100vh;
// }
// .cdk-overlay-pane{
//     max-width: 90vw !important;
// } 
/* .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 2;
     cursor: pointer;
  } */

