mat-card{
    width:20vw;
    height: 58vh;
    background-color: #F2F2F2;
    font: 400 16px Heebo;
}

.button{
    margin-right: auto;
}
mat-card-title {
    font-family:  Heebo;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(7, 224, 152);
}
