<mat-icon (click)="isSearch()" class="icon">search</mat-icon>

<div class="allcheckbox" *ngIf="show">
    <button mat-flat-button class="button" (click)="filter()">סנן</button>
    <mat-checkbox (change)="selectAll()" [(ngModel)]="allSelected">בחר הכל</mat-checkbox>
    <mat-checkbox  *ngFor="let f of dataFilter"  [(ngModel)]="f.checked" [checked]="f.checked">
        <span *ngIf="!isStatus">{{f.data}}</span>
        <span *ngIf="isStatus"><mat-icon>{{f.data}}</mat-icon></span>
    </mat-checkbox>
</div>
