
::ng-deep {

       mat-icon{
        cursor: pointer;
       }
}
.mat-expansion-panel-content {
    text-align: center;
}
.example-form-field{
width: 150px;
}
mat-form-field{
    width: 100px ;
}
.daf{
    width: 70px;
}
.auto{
    width: 80px;
}