<form [formGroup]="form">
  <div class="radio">

    <mat-checkbox (change)="cli()">ישיבה</mat-checkbox>
    <input *ngIf="checked" pInputText class="custom-otp-input" type="text" />
  </div>
  <div formArrayName="formArray">
    <div *ngFor="let formGroup of  formArray.controls; let i = index">
      <div [formGroupName]="i">

        <nd-autocomplete *ngIf="!checked" [options]="yeshivaKeyValueArray"
          [title]="'ישיבה'" (selectionChange)="onYeshivaSelectionChange($event,i)"></nd-autocomplete>

        <mat-form-field appearance="outline">
          <mat-label> שיעור</mat-label>
          <mat-select formControlName="shiurID">
            <mat-option *ngFor="let i of shiurOption" [value]="i.shiurId">
              {{ i.shiurName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <nd-autocomplete [options]="masecetOption"  [title]="'מסכת'"
          (selectionChange)="onSelectionChange($event,i)" (validityChange)="onValidityChange($event,i)">
        </nd-autocomplete>

        <mat-form-field appearance="outline">
          <mat-label> פרק</mat-label>
          <mat-select formControlName="perek">
            <mat-option *ngFor="let item of prakimNumArray" [value]="item.value">
              {{item.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="daf" appearance="outline">
          <mat-label>מדף</mat-label>
          <input matInput type="text" [pattern]="hebrewLettersPattern" formControlName="startValue">
        </mat-form-field>

        <mat-form-field class="daf" appearance="outline">
          <mat-label>עד דף</mat-label>
          <input matInput type="text" [pattern]="hebrewLettersPattern" formControlName="endValue">
        </mat-form-field>



        <mat-icon (click)="deletForm(i)">delete_forever</mat-icon>
      </div>
    </div>
  </div>
</form>
<u (click)="addForm()" class="addLimud">הוסף לימוד +</u>